.DS_Store
.vscode
.sass-cache
*.DS_Store
*.env
*.idea
npm-debug.log
style.css
style.css.map
tsconfig.json
public/package-lock.json
server/config
server/logs
*bundle.js*
static/*.jpg
.psd
stats.json
sapper-todo.code-workspace
/node_modules/
/src/node_modules/@sapper/
/__sapper__/
